{{- $share := (.Scratch.Get "params").share | default dict -}}

{{- if $share.enable -}}
    {{- /* 001: Twitter */ -}}
    {{- if $share.Twitter -}}
        <button title="{{ T `shareOn` }} Twitter" data-sharer="twitter" data-url="{{ .Permalink }}" data-title="{{ .Title }}"{{ with .Site.Params.Social.Twitter }} data-via="{{ . }}"{{ end }}{{ with .Params.tags }} data-hashtags="{{ delimit . `,` }}"{{ end }}>
            {{- dict "Class" "fab fa-twitter fa-fw" | partial "plugin/icon.html" -}}
        </button>
    {{- end -}}

    {{- /* 002: Facebook */ -}}
    {{- if $share.Facebook -}}
        <button title="{{ T `shareOn` }} Facebook" data-sharer="facebook" data-url="{{ .Permalink }}"{{ with .Params.tags }} data-hashtag="{{ index . 0 }}"{{ end }}>
            {{- dict "Class" "fab fa-facebook-square fa-fw" | partial "plugin/icon.html" -}}
        </button>
    {{- end -}}

    {{- /* 003: Linkedin */ -}}
    {{- if $share.Linkedin -}}
        <button title="{{ T `shareOn` }} Linkedin" data-sharer="linkedin" data-url="{{ .Permalink }}">
            {{- dict "Class" "fab fa-linkedin fa-fw" | partial "plugin/icon.html" -}}
        </button>
    {{- end -}}

    {{- /* 004: WhatsApp */ -}}
    {{- if $share.Whatsapp -}}
        <button title="{{ T `shareOn` }} WhatsApp" data-sharer="whatsapp" data-url="{{ .Permalink }}" data-title="{{ .Title }}" data-web>
            {{- dict "Class" "fab fa-whatsapp fa-fw" | partial "plugin/icon.html" -}}
        </button>
    {{- end -}}

    {{- /* 005: Viber */ -}}
    {{- if $share.Viber -}}
        <button title="{{ T `shareOn` }} Viber" data-sharer="viber" data-url="{{ .Permalink }}" data-title="{{ .Title }}">
            {{- dict "Class" "fab fa-viber fa-fw" | partial "plugin/icon.html" -}}
        </button>
    {{- end -}}

    {{- /* 006: Pinterest */ -}}
    {{- if $share.Pinterest -}}
        <button title="{{ T `shareOn` }} Pinterest" data-sharer="pinterest" data-url="{{ .Permalink }}"{{ with .Description }} data-description="{{ . }}"{{ end }}{{ with .Params.featuredImage }} data-image="{{ . }}"{{ end }}>
            {{- dict "Class" "fab fa-pinterest fa-fw" | partial "plugin/icon.html" -}}
        </button>
    {{- end -}}

    {{- /* 007: Tumblr */ -}}
    {{- if $share.Tumblr -}}
        <button title="{{ T `shareOn` }} Tumblr" data-sharer="tumblr" data-url="{{ .Permalink }}" data-title="{{ .Title }}"{{ with .Description }} data-caption="{{ . }}"{{ end }}{{ with .Params.tags }} data-tags="{{ delimit . `,` }}"{{ end }}>
            {{- dict "Class" "fab fa-tumblr fa-fw" | partial "plugin/icon.html" -}}
        </button>
    {{- end -}}

    {{- /* 008: Hacker News */ -}}
    {{- if $share.Hackernews -}}
        <button title="{{ T `shareOn` }} Hacker News" data-sharer="hackernews" data-url="{{ .Permalink }}" data-title="{{ .Title }}">
            {{- dict "Class" "fab fa-hacker-news fa-fw" | partial "plugin/icon.html" -}}
        </button>
    {{- end -}}

    {{- /* 009: Reddit */ -}}
    {{- if $share.Reddit -}}
        <button title="{{ T `shareOn` }} Reddit" data-sharer="reddit" data-url="{{ .Permalink }}">
            {{- dict "Class" "fab fa-reddit fa-fw" | partial "plugin/icon.html" -}}
        </button>
    {{- end -}}

    {{- /* 010: VK */ -}}
    {{- if $share.VK -}}
        <button title="{{ T `shareOn` }} VK" data-sharer="vk" data-url="{{ .Permalink }}" data-title="{{ .Title }}"{{ with .Description }} data-caption="{{ . }}"{{ end }}{{ with .Params.featuredImage }} data-image="{{ . }}"{{ end }}>
            {{- dict "Class" "fab fa-vk fa-fw" | partial "plugin/icon.html" -}}
        </button>
    {{- end -}}

    {{- /* 011: Buffer */ -}}
    {{- if $share.Buffer -}}
        <button title="{{ T `shareOn` }} Buffer" data-sharer="buffer" data-url="{{ .Permalink }}" data-title="{{ .Title }}"{{ with .Site.Params.Social.Twitter }} data-via="{{ . }}"{{ end }}{{ with .Params.featuredImage }} data-picture="{{ . }}"{{ end }}>
            {{- dict "Class" "fab fa-buffer fa-fw" | partial "plugin/icon.html" -}}
        </button>
    {{- end -}}

    {{- /* 012: Xing */ -}}
    {{- if $share.Xing -}}
        <button title="{{ T `shareOn` }} Xing" data-sharer="xing" data-url="{{ .Permalink }}" data-title="{{ .Title }}">
            {{- dict "Class" "fab fa-xing fa-fw" | partial "plugin/icon.html" -}}
        </button>
    {{- end -}}

    {{- /* 013: Line */ -}}
    {{- if $share.Line -}}
        <button title="{{ T `shareOn` }} Line" data-sharer="line" data-url="{{ .Permalink }}" data-title="{{ .Title }}">
            {{- dict "Simpleicons" "line" "Prefix" (.Scratch.Get "cdn" | default dict).simpleIconsPrefix | partial "plugin/icon.html" -}}
        </button>
    {{- end -}}

    {{- /* 014: Instapaper */ -}}
    {{- if $share.Instapaper -}}
        <button title="{{ T `shareOn` }} Instapaper" data-sharer="instapaper" data-url="{{ .Permalink }}" data-title="{{ .Title }}" data-description="{{ .Description }}">
            {{- dict "Simpleicons" "instapaper" "Prefix" (.Scratch.Get "cdn" | default dict).simpleIconsPrefix | partial "plugin/icon.html" -}}
        </button>
    {{- end -}}

    {{- /* 015: Pocket */ -}}
    {{- if $share.Pocket -}}
        <button title="{{ T `shareOn` }} Pocket" data-sharer="pocket" data-url="{{ .Permalink }}">
            {{- dict "Class" "fab fa-get-pocket fa-fw" | partial "plugin/icon.html" -}}
        </button>
    {{- end -}}

    {{- /* 016: Digg */ -}}
    {{- if $share.Digg -}}
        <button title="{{ T `shareOn` }} Digg" data-sharer="digg" data-url="{{ .Permalink }}">
            {{- dict "Class" "fab fa-digg fa-fw" | partial "plugin/icon.html" -}}
        </button>
    {{- end -}}

    {{- /* 017: StumbleUpon */ -}}
    {{- if $share.Stumbleupon -}}
        <button title="{{ T `shareOn` }} StumbleUpon" data-sharer="stumbleupon" data-url="{{ .Permalink }}" data-title="{{ .Title }}">
            {{- dict "Class" "fab fa-stumbleupon fa-fw" | partial "plugin/icon.html" -}}
        </button>
    {{- end -}}

    {{- /* 018: Flipboard */ -}}
    {{- if $share.Flipboard -}}
        <button title="{{ T `shareOn` }} Flipboard" data-sharer="flipboard" data-url="{{ .Permalink }}" data-title="{{ .Title }}">
            {{- dict "Class" "fab fa-flipboard fa-fw" | partial "plugin/icon.html" -}}
        </button>
    {{- end -}}

    {{- /* 019: 微博 */ -}}
    {{- if $share.Weibo -}}
        <button title="{{ T `shareOn` }} 微博" data-sharer="weibo" data-url="{{ .Permalink }}" data-title="{{ .Title }}"{{ with .Params.featuredImage }} data-image="{{ . }}"{{ end }}{{ with .Site.Params.Social.Weibo }} data-ralateuid="{{ . }}"{{ end }}>
            {{- dict "Class" "fab fa-weibo fa-fw" | partial "plugin/icon.html" -}}
        </button>
    {{- end -}}

    {{- /* 020: 人人 */ -}}
    {{- if $share.Renren -}}
        <button title="{{ T `shareOn` }} 人人" data-sharer="renren" data-url="{{ .Permalink }}">
            {{- dict "Class" "fab fa-renren fa-fw" | partial "plugin/icon.html" -}}
        </button>
    {{- end -}}

    {{- /* 021: Myspace */ -}}
    {{- if $share.Myspace -}}
        <button title="{{ T `shareOn` }} Myspace" data-sharer="myspace" data-url="{{ .Permalink }}" data-title="{{ .Title }}" data-description="{{ .Description }}">
            {{- dict "Simpleicons" "myspace" "Prefix" (.Scratch.Get "cdn" | default dict).simpleIconsPrefix | partial "plugin/icon.html" -}}
        </button>
    {{- end -}}

    {{- /* 022: Blogger */ -}}
    {{- if $share.Blogger -}}
        <button title="{{ T `shareOn` }} Blogger" data-sharer="blogger" data-url="{{ .Permalink }}" data-title="{{ .Title }}" data-description="{{ .Description }}">
            {{- dict "Class" "fab fa-blogger fa-fw" | partial "plugin/icon.html" -}}
        </button>
    {{- end -}}

    {{- /* 023: 百度 */ -}}
    {{- if $share.Baidu -}}
        <button title="{{ T `shareOn` }} 百度" data-sharer="baidu" data-url="{{ .Permalink }}" data-title="{{ .Title }}">
            {{- dict "Simpleicons" "baidu" "Prefix" (.Scratch.Get "cdn" | default dict).simpleIconsPrefix | partial "plugin/icon.html" -}}
        </button>
    {{- end -}}

    {{- /* 024: OK.RU */ -}}
    {{- if $share.Odnoklassniki -}}
        <button title="{{ T `shareOn` }} OK.RU" data-sharer="okru" data-url="{{ .Permalink }}" data-title="{{ .Title }}">
            {{- dict "Class" "fab fa-odnoklassniki fa-fw" | partial "plugin/icon.html" -}}
        </button>
    {{- end -}}

    {{- /* 025: Evernote */ -}}
    {{- if $share.Evernote -}}
        <button title="{{ T `shareOn` }} Evernote" data-sharer="evernote" data-url="{{ .Permalink }}" data-title="{{ .Title }}">
            {{- dict "Class" "fab fa-evernote fa-fw" | partial "plugin/icon.html" -}}
        </button>
    {{- end -}}

    {{- /* 026: Skype */ -}}
    {{- if $share.Skype -}}
        <button title="{{ T `shareOn` }} Skype" data-sharer="skype" data-url="{{ .Permalink }}" data-title="{{ .Title }}">
            {{- dict "Class" "fab fa-skype fa-fw" | partial "plugin/icon.html" -}}
        </button>
    {{- end -}}

    {{- /* 027: Trello */ -}}
    {{- if $share.Trello -}}
        <button title="{{ T `shareOn` }} Trello" data-sharer="trello" data-url="{{ .Permalink }}" data-title="{{ .Title }}" data-description="{{ .Description }}">
            {{- dict "Class" "fab fa-trello fa-fw" | partial "plugin/icon.html" -}}
        </button>
    {{- end -}}

    {{- /* 028: Mix */ -}}
    {{- if $share.Mix -}}
        <a href="//mix.com/add?url={{ .Permalink }}&amp;description={{ .Title }}" target="_blank" title="{{ T `shareOn` }} Mix">
            {{- dict "Class" "fab fa-mix fa-fw" | partial "plugin/icon.html" -}}
        </a>
    {{- end -}}

    {{- /* 029: Telegram */ -}}
    {{- if $share.Telegram -}}
        <button title="{{ T `shareOn` }} Telegram" data-sharer="telegram" data-url="{{ .Permalink }}" data-title="{{ .Title }}" data-web>
            {{- dict "Class" "fab fa-telegram-plane fa-fw" | partial "plugin/icon.html" -}}
        </button>
    {{- end -}} 
    
   {{- /* 030: Weixin */ -}}
    {{- if $share.Weixin -}}
    <button class="weixin" title="{{ T `shareOn` }} 微信" data-sharer="weixin" data-url="{{ .Permalink }}" data-title="{{ .Title }}" data-web>
        {{- dict "Class" "fab fa-weixin fa-fw" | partial "plugin/icon.html" -}}
        <img src="{{ $share.Weixin }}{{ .Permalink | safeURL }}" title="{{ .Title }}">
    </a>
    {{- end -}}
{{- end -}}
